@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body,main,html{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
html{
  min-height: 935px;
}
h1{
  margin: 0;
}
body{
  background: url('../img/background.png') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
 
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  
}
.admissoes,.internados, .transferidos, .recuperados, .obitos{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.lista-internados{
  background: #ffcb3f;
  border-radius: 10px;
  position: relative;
  width: 36%;
}
.lista-internados ul{
  list-style: none;
  padding: 0 25px;
}
.lista-internados li{
  font-weight: 700;
  font-size: 36px;
  color: #8d2b43;
  border-bottom: 1px solid #8d2b43;
}
.lista-internados li:last-child{
  border: none;
}
.lista-internados li span{
  position: absolute;
  background: #8d2b43;
  color: #fff;
  min-width: 80px;
  min-height: 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 32px;
  right: -65px;
}

.titulo{
  color: #fff;
  width: max-content;
  margin-bottom: 35px;
}
.titulo h1{
  font-size: 36px;
  color: #ffcb3f;
  font-weight: 400;
}
.titulo h2{
  font-size: 118px;
  line-height: 97px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
}
.titulo h3{
  font-size: 66px;
  margin: 0;
  line-height: 66px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: right;
}
.titulo h3 span{
  color: #f5b405;
}
.texto,.valor{
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto{
  background: #f5b405;
  color: #8d2b43;
  height: 67px;
  padding: 0 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.texto h1{
  font-weight: 700;
}
.valor{
  background: #8d2b43;
  color: #fff;
  min-width: 80px;
  min-height: 80px;
  text-align: center;
  border-radius: 10px;
}
.valor span{
  font-size: 50px;
  font-weight: 900;
  padding: 0 20px;
}
.logo{
  position: absolute;
  bottom: 50px;
  right: 0;
}

@media(max-width: 992px){
  .titulo h1{
    font-size: 35px;
  }
  .titulo h2{
    font-size: 95px;
  }
  .titulo h3{
    font-size: 50px;
  }
  .lista-internados{
    width: 45%;
  }
}
